#nav__bar{
    display: flex;
    align-items: center;
    margin: 2rem;
    max-width: 100%;
}

.nav__container{
    width: 100%;
}

.nav__lists{
    padding-left: 3rem;
    display: flex;
    gap: 2rem;
}

.nav{
    display: flex;
    justify-content: space-between;
    margin: 2rem;
    padding: 1.25rem;
}

.nav__lists .nav__sign-up,
.nav__lists .nav__log-in{
    font-weight: 800;
    font-size: 1rem;
    letter-spacing: 2px;
}

button{
    cursor: pointer;
    background-color: transparent;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: #fff;
    scale: 1.1rem;
}